.App {
  text-align: center;
}
.gameBoardContainer{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 800px;
  height: 800px;
}
.tile{
  height: 100px;
  width: 100px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.piece{
   height: 70px;
   width: 70px;
   border-style: none;
}
.piece:hover{
  cursor: pointer;
}
.thing{
  height: 70px;
  width: 70px;
  border-style: solid;
}